/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header{
	padding: 10px 0;
}
.menu ul li a {
	font-size: 20px;
    text-align: right;
    padding: 0 0 !important;
}
/*header start*/
/*slider start*/
.slider {
    padding-bottom: 60px;
}
.slider_text h1 {
    font-size: 25px;
}
.slider_text h2 {
    font-size: 18px;
    margin: 10px 0;
}
.slider_text p {
    margin-bottom: 10px;
}
.icon {
    font-size: 35px;
}
.icon li {
    margin-right: 10px !important;
}
.slider_text {
    margin-top: 10px;
}
.cid {
    bottom: -50px;
}
.cid li {
    width: 13px;
    height: 13px;
}

/*slider end*/

/*features start*/
.features {
    padding-top: 50px;
    padding-bottom: 70px;
}
.t_h1 {
    font-size: 25px;
}
.t_p {
    font-size: 18px;
}
.m_t_60 {
    margin-top: 10px;
}
.f_icon{
    font-size: 50px;
}
.f_text {
    margin-top: 0;
    text-align: center;
}
/*features end*/

/*contact start*/
.contact{
    padding-top: 50px;
    padding-bottom: 70px;
}
.contract_form {
    margin-top: 20px;
    margin-bottom: 30px;
}
.c_input {
    height: 40px;
    margin-bottom: 10px;
}
.btn-contact {
    height: 40px;
}
.social ul li a {
    font-size: 25px;
    padding: 0px 7px;
    margin-right: 0;
}
/*contact end*/
footer{
    padding-bottom: 70px;
}
.info{
    text-align: center;
}
.c_footer{
    margin-top: 20px;
    text-align: center;
}
 
  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a {
    text-align: right;
    padding: 0 0 !important;
}
/*header end*/
/*slider start*/
.slider {
    padding-bottom: 80px;
}
.slider_text {
    margin-top: 10px;
}
.cid {
    bottom: -60px;
}
.cid li {
    width: 13px;
    height: 13px;
}

/*slider end*/

/*features start*/
.features {
    padding-top: 50px;
    padding-bottom: 70px;
}
.t_h1 {
    font-size: 25px;
}
.t_p {
    font-size: 18px;
}
.m_t_60 {
    margin-top: 20px;
}
.f_text {
    text-align: center;
}
/*features end*/
.contact{
    padding-top: 50px;
    padding-bottom: 70px;
 }
.info{
    text-align: center;
}
.c_footer{
    margin-top: 20px;
    text-align: center;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a {
    text-align: right;
    padding: 0 0 !important;
}
/*header end*/
/*slider start*/
.slider_text h1 {
    font-size: 30px;
}
.slider_text {
    margin-top: 10px;
}
/*slider end*/

/*features start*/
.m_t_60 {
    margin-top: 40px;
}
/*features end*/

/*contact start*/
.contact{
    padding-top: 80px;
    padding-bottom: 100px;
}
/*contact end*/

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

 
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


 }