body{
	font-family: 'PT Sans', sans-serif;
}
/*header start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #010101 !important;
	padding: 0 35px !important;
	transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/

/*slider start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.cid{
    bottom: -75px;
}
.cid li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider_text{
	margin-top: 70px;
}
.slider_text h1{
	font-weight: 700;
	font-size: 32px;
	color: #010101;
}
.slider_text h2{
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	letter-spacing: 1px;
	line-height: 25px;
	margin: 18px 0;
}
.slider_text p{
	color: #555555;
	line-height: 22px;
	margin-bottom: 20px;
}
.icon{
	font-size: 42px;
	color: #010101;
}
.icon li{
	margin-right: 20px !important;
}
.slider_img{}
.slider_img img{}
/*slider end*/

/*features start*/
.features{
	padding-top: 80px;
	padding-bottom: 100px;
}
.title{}
.t_h1{
	font-weight: 700;
	font-size: 32px;
	color: #010101;
}
.t_p{
	font-size: 20px;
	color: #313841;
	letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 26px;
}
.m_t_60{
	margin-top: 60px;
}
.f_icon{
	font-size: 50px;
	color: #010101;
	transition: .5s;
}
.f_icon:hover{
	transform: rotateY(180deg);
}
.f_text{
	margin-top: 10px;
}
.f_text h2{
	font-size: 22px;
	color: #010101;
}
.f_text p{
	letter-spacing: 1px;
    color: #898989;
}
/*features end*/

/*contact start*/
.contact{
	background-color: #010101;
	padding-top: 80px;
	padding-bottom: 100px;
}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.contract_form{
	margin-top: 30px;
	margin-bottom: 60px;
}
.c_input{
	width: 100%;
	height: 50px;
	color: #010101;
}
.c_input::placeholder {
  color: #898989;
  opacity: 1; /* Firefox */
}

.c_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #898989;
}

.c_input::-ms-input-placeholder { /* Microsoft Edge */
 color: #898989;
}
.btn-contact{
	font-weight: 700;
	width: 100%;
	height: 50px;
	color: #010101;
	background-color: #fcdb00;
	text-transform: uppercase;
}
.btn-contact:hover{
	background-color: white;
}
.social{}
.social ul li a{
	background-color: #fcdb00;
	font-size: 35px;
	color: #010101;
	padding: 0 10px;
	border-radius: 5px;
	margin-right: 20px;
	transition: .5s;
}
.social ul li a:hover{
	background-color: white;
}
/*contact end*/

/*footer start*/
footer{
	background-color: #010101;
	padding-bottom: 100px;
}
.info{
	color: white;
}
.c_footer{}
.c_footer a{
	display: block;
	text-decoration: none;
	color: white;
}
/*footer end*/